/* SwiperComponent.css */

.swiper-button-prev,
    .swiper-button-next {
        display: block;
        color: grey;
        /* Oculta los botones de navegación en pantallas pequeñas */
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 1rem;
    }

.swiper-slide {
    width: 300px !important;
    margin-right: 50px !important;
}


