@import '../../../styles//config';

.position {
    position: relative;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 1rem;
    color: $color-four;
    font-size: 1rem;
    width: 100%;
}

.error {
    color: $color-terciary;
    font-size: 0.75rem;
    font-family: $font-family-primary;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    left: 0;
}

.children {
    margin-left: -2rem;
    color: $color-four;
}