.containerInput {
    position: relative;
    width: 100%;
    display: flex;

    .input {
        width: 100%;
        height: 30px;
        border-radius: 4px;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        border: 1px solid black;
        font-family: "Lato", sans-serif;
    }
    .input:focus {
        outline: none;
    }
    .input::placeholder {
        font-size: 12px;
    }
    .securedIcon {
        position: absolute;
        right: 10px;
        font-size: 14px;
        display: flex;
        align-items: center;
        bottom: 0;
        top: 0;
    }
}
