@import '../../../styles//config';


.containerInputError{
    position: relative;
    width: 100%;
}

.error {
    position: absolute;
    bottom: -70%;
    font-size: $font-size-primary/1.5;
    color: $color-terciary;
}

.containerInput {
    position: relative;
}

.input {
    width: 100%;
}

.input:focus {
    outline: none;
}

.children {
position: absolute;
right: 0%;
font-size: 14px;
bottom: 0%;
}