.iconInactive {
  font-size: 24px;
  z-index: 1;
}

.iconActive {
  font-size: 24px;
  z-index: 1;
  position: relative;
  left: 75%;
}

@media (min-width: 768px) {
  .iconInactive {
    display: none;
  }
}
