.container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 100%;
/*         max-width: 300px; */
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
