
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    border: solid;
    padding: 2rem;
}

.containerForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}