@import "../../../styles/config";

.button{
    background-color: $color-primary;
    color: $color-secondary;
    border: none;
    margin: 0;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 24px; 
}

.button:disabled {
    background-color: gray;
    cursor: not-allowed;

}

.small {
    width: 50px;
}

.medium {
    width: 100px;
}

.large {
    width: 100%
}