// Evitar el ../../
@import "../../../styles/config";

.ulNavMobile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 241, 222);
}

.containerHeaderNavbarMovile {
  width: 100%;
  background-color: burlywood;
  height: 80px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .ulNavDesktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
  }
}
