// Evitar el ../../
@import "../../../styles/config";

.ulNavContainerMenuActive {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  margin: 0;
  padding: 0;
  background-color: rgb(253, 221, 176);
}

 .ulNavContainerMenuInactive {
    display: none;
  }

  .containerHeaderNavbarMovile {
    width: 100%;
    background-color: burlywood;
    height: 40px;
    display: flex;
    align-items: center;
  }




@media (min-width: 768px) {
  .ulNavContainerMenuInactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;

    .containerHeaderNavbarMovile {
      height: 80px;
    }

  }

}
