@import '../../../styles//config';


.containerInputError{
    position: relative;
    width: 50%;
}

.error {
    position: absolute;
    bottom: -75%;
    font-size: $font-size-primary/1.5;
    color: $color-terciary;
}

.containerInput {
    position: relative;
}

.input {
    width: 100%;
}

.input:focus {
    outline: none;
}

.children {
position: absolute;
left: 170px;
font-size: 14px;
top: 2px;
}